async-lru==1.0.2
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
certifi==2020.12.5
chardet==3.0.4
GroupyAPI==0.10.3
idna==2.7
keyboard==0.13.5
pyaes==1.6.1
PyAudio==0.2.11
pycodestyle==2.6.0
pykeyboard==0.1.2
Pyrogram==1.1.13
PySocks==1.7.1
PyUserInput==0.1.10
pywin32==300
requests==2.20.1
SpeechRecognition==3.8.1
TgCrypto==1.2.2
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
urllib3==1.24.3
wincertstore==0.2
